language: ruby
services: 
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;'
  - cp config/database.yml.travis config/database.yml
addons:
  postgresql: "12"
  apt:
    packages:
      - postgresql-12
      - postgresql-client-12
script: 
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rubocop -c .rubocop.yml
  - bundle exec rspec
env:
  global:
        - PGVER=12
        - PGPORT=5433