<p><%= t('users.header.email_changed', email: @email)%></p>

<p><%= link_to t('users.body.unlock_instructions.account_locked')%></p>

<p><%= link_to t('users.body.unlock_instructions.click_link')%></p>

<p><%= link_to t('users.button.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
